{% include "panel_style", bgColor: "#fff" %}
<style>
  .panel--{{ p-ID }} img {
    margin: 0 0 0 0;
  }
  .panel--{{ p-ID }} .btn {
    margin: 0 0 0 0;
  }
</style>

<div class="panel panel--inline panel--{{ p-AutoTextColor }} panel--{{ p-ID }}">
  <div class="panel__cell">
    <a href="{{ product.url }}">
      {% if product.thumbnail_url %}
        <img src="{{ product.thumbnail_url }}"/>
      {% else %}
        <img src="{{ "placeholder.png" | asset_url }}"/>
      {% endif %}
    </a>
  </div>
  <div class="panel__cell">
    <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
    {% if product.description != "" %}
      <p>{{ product.description | strip_html | truncate: 160 }}</p>
    {% endif %}
  </div>
  <div class="panel__cell">
    {% assign btnId        = 'btn_text' | settings_id: section: section %}
    {% assign btnText      = section.settings.btn_text  %}
    {% assign btnColor     = section.settings.btn_background_color | default: settings.color_primary %}
    {% assign btnTextColor = section.settings.btn_text_color | default: settings.text_color_light %}
    {% assign btnStyle     = section.settings.btn_style  %}
    {% assign btnWidth     = section.settings.btn_width  %}
    {% assign btnSize      = "small"  %}

    <style>
      /*============================================================================
        #Individual CTA Style
      ==============================================================================*/
      #{{ btnId }}.btn--solid {
        background: {{ btnColor }};
        border-color: {{ btnColor }};
        color: {{ btnTextColor }};
      }
      #{{ btnId }}.btn--outline {
        border-color: {{ btnColor }};
        color: {{ btnColor }};
      }
    </style>
    <a href="{{ product.url }}" class="btn btn--{{ btnWidth }} btn--{{ btnStyle }} btn--{{ btnSize }} btn-cta" id="{{ btnId }}" kjb-settings-id="{{ btnId }}">{{ btnText }}</a>
  </div>
</div>
