<!-- Block Variables -->
{% assign b-Heading = block.settings.heading %}
{% assign b-AllTags = block.settings.all_tags %}

<!-- KJB Settings Variables -->
{% assign kjb-b-Heading = 'heading' | settings_id: section: section, block: block %}
{% assign kjb-b-AllTags = 'all_tags' | settings_id: section: section, block: block %}

<div class="panel" kjb-settings-id="{{ kjb-b-Heading }}">
  <div class="panel__body">
    <p class="panel__heading panel__heading--light" kjb-settings-id="{{ kjb-b-Heading }}">{{ b-Heading }}</p>
    <a href="/blog" kjb-settings-id="{{ kjb-b-AllTags }}">{{ b-AllTags }}</a>
    {% for tag in tags %}
      {% if tags.current == tag %}
        <p><a href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}" class="capitalize active">{{ tag }}</a></p>
      {% else %}
        <p><a href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}" class="capitalize">{{ tag }}</a></p>
      {% endif %}
    {% endfor %}
  </div>
</div>
