{% if section.settings.show_hero %}
{% for blog_post in blog_posts limit:1 %}
  {% include "section_style_blog_hero", vertAlign: "middle", defaultImg: "hero.jpg", defaultVideo: "aifhr9jyfk" %}
  <div class="hero-background background-image background-image--{{ s-ID }}">
    <div class="section section--hero section--{{ s-VertAlign }} section--{{ s-Spacing }} section--{{ s-ID }}" kjb-settings-id="{{ 'overlay' | settings_id: section: section }}">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {% include "hero_text" %}
          {% for tag in tags %}
            {% if tags.current == tag %}
              <h4>{{ tag }}</h4>
              {% else %}
              <div style="display:none;"></div>
                {% endif %}
          {% endfor %}
            {% include "blog_post_preview" %}
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Hero",
    "blocks": [
      {
        "type": "hero_cta",
        "name": "Call To Action",
        "elements": [
          {
            "type": "header",
            "content": "Call To Action"
          },
          {
            "type": "divider"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "CTA Text",
            "default": "Call To Action"
          },
          {
            "type": "action",
            "id": "btn_action",
            "label": "CTA Action",
            "two_step": true,
            "default": "http://www.kajabi.com"
          },
          {
            "type": "checkbox",
            "id": "btn_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "CTA Style",
            "default": "solid",
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "CTA Size",
            "default": "med",
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "med" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "auto",
            "options": [
              { "label": "Auto", "value": "auto" },
              { "label": "Full Width", "value": "block" }
            ]
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Color",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "allow_blank": true,
            "info": "For solid buttons only"
          },
          {
            "type": "text",
            "id": "btn_Reveal",
            "label": "CTA Timed Reveal",
            "default": "0",
            "info": "Use seconds. (For example, 5 minutes x 60 seconds = 300 seconds). Leave at 0 to disable timed reveal."
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "checkbox",
        "id": "show_hero",
        "label": "Show Hero",
        "default": "false"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Blog"
      },
      {
        "type": "rich_text",
        "label": "Text",
        "id": "text",
        "default": ""
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image",
        "info": "Suggested dimensions: 2880 × 1200"
      },
      {
        "type": "color",
        "id": "overlay",
        "label": "Overlay Color",
        "default": "rgba(0,0,0,.5)"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "radio",
        "id": "alignment",
        "label": "Alignment",
        "default": "center",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"},
          {"value": "right", "label": "Right"}
        ]
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "default": "medium",
        "options": [
          { "label": "Extra Small", "value": "xs-small" },
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" }
        ]
      }
    ]
  }
{% endschema %}
